<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<!DOCTYPE html>
<!-- Background -->
<html>
<head>
</head>
<body>
  <div class="container">
    <ul>

 <!-- Navbar -->

      <li><a>
          <span class="glyphicon" style="color: #22b1e6; font-size: 23px;">&#xe008;</span>
        </a></li>
      <li><a>HOME</a></li>
      <li><a>ABOUT</a></li>
      <li><a>SERVICES</a></li>
      <li><a>BLOG</a></li>
      <li><a>MORE</a></li>

 <!-- contant -->
      <button type="button">CONTACT</button>
    </ul><br><br>
  </div>

  <!-- Image -->

  <img src="../assets/images/jyothi.jpeg">

  <!-- content  -->

  <h6>
    CODEWITHRANDOM
  </h6>

  <p> <span style="color:white ;font-size:30px ;" >I'm a Web </span><br>
      <span style="color: rgb(109, 234, 157);font-size:30px">Developer</span>
  </p>

  <h6 class="thin">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque illum nam nobis, minima
    laudantium fugit sequi nostrum quod impedit, beatae necessitatibus praesentium optio labore
    nemo!
  </h6>
  <h4 id="main1">
    DOWNLOAD CV
  </h4>
</body>

</html>
