<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<!DOCTYPE html>

<!-- Background -->

<html>
<head>
  <!-- <link rel="stylesheet" href="task.css"> -->
</head>
<body>
  <div class="container">
    <ul> 
      <!-- Navbar -->
      <li><a>HOME</a></li>
      <li><a>ABOUT</a></li>
      <li><a>SERVICES</a></li>
      <li><a>BLOG</a></li>
      <li><a>MORE</a></li>
  
      <!-- contant -->
      <button type="button">CONTACT</button>
    </ul><br><br>
  </div>
  
  <!-- Image -->

  <img src="../assets/images/jyo.jpeg">

  <!-- content  -->

  <h6>
    CODEWITHRANDOM
  </h6>
  <h2>
    I'm a Web
  </h2>
  <h2 class="main">
    Developer
  </h2>
  <h6 class="thin">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque illum nam nobis, minima
    laudantium fugit sequi nostrum quod impedit, beatae necessitatibus praesentium optio labore
    nemo!
  </h6><br>
  <h4 id="main1">
    DOWNLOAD CV
  </h4>
</body>

</html>
