<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

<!DOCTYPE html>

<!-- Background -->

<html>
<head>
  <!-- <link rel="stylesheet" href="task.css"> -->
</head>
<body>
  <ul>
   

 <!-- Icon -->

      <div>
        <!-- <i class="fa-regular fa-face-smile">
                <span style="color:#fff; font-size: 60px; width: 50px;"></span></i>  -->
      </div>

  <!-- Navbar -->

    <li><a>HOME</a></li>
    <li><a>ABOUT</a></li>
    <li><a>SERVICES</a></li>
    <li><a>BLOG</a></li>
    <li><a>MORE</a></li>

    

<!-- contant -->
<ol>
      <ol><a>CONTACT</a></ol>
    </ol>
  </ul><br><br>

  <!-- Image -->

  <img src="../assets/images/jyo.jpeg" >

  <!-- content  -->

  <h6 >
    CODEWITHRANDOM
  </h6>
  <h1 class="thin-text">
    I'm a Web
  </h1>
  <h1  class="main">
    Developer
  </h1>
  <h6 class="thin">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque illum nam nobis, minima
    laudantium fugit sequi nostrum quod impedit, beatae necessitatibus praesentium optio labore
    nemo!
  </h6>
  <h4 id="main1">
    DOWNLOAD CV
  </h4>

</body>
</html>
